@charset "utf-8";
/* CSS Document */
* { margin:0px;
	padding:0pa;
	border:0px;
}
.nav { width:1200px;
		height:30px;
		background:#EBEBEB;
		margin:auto;
}
#a { width:340px;
	height:30px;
	margin-left:50px;
	float:left;
	margin-top:-7px;
}
#b { width:300px;
	height:30px;
	margin-left:860px;
	margin-top:-30px;
	float:left;
}
#c{ width:1200px;
	height:110px;
	margin:auto;
}
#imgg { width:199px;
		height:99px;
		margin:auto;
		margin-left:100px;
		float:left;
}
#cright { width:302px;
			height:70px;
			margin-left:400px;
			margin-top:-50px;
			float:left;
}
			
#cpho { width:80px;
		height:70px;
		margin-left:20px;
			
}
#d { width:1200px;
	height:40px;
	background:#990;
	margin:auto;
}
#d ul { text-decoration:none;
		list-style:none;
		width:780px;
		margin-left:50px;
		float:left;
}
#d ul li { float:left;
			width:85px;
			height:40px;
			text-align:center;
}
#d ul li a:link { text-decoration:none;
					font-size:14px;
					line-height:40px;
					text-align:center;
					color:#FFF;
}
#d ul li a:hover{ display:block;
					background:#733900;
}
#txt { border:1px solid;
		margin-top:10px;
		float:left;
}
#go { width:30px;
		height:26px;
		border:1px solid;
		border-radius:5px;
		background:#733900;
		margin-left:18px;
		margin-top:5px;
		float:left;
}
#go a { display:block;
}
#go a:link { text-decoration:none;
					font-size:14px;
					line-height:28px;
					text-align:center;
					padding-left:3px;
					color:#FFF;
}
#go a:hover{
			
}
#e { width:1200px;
	height:300px;
	margin:auto;
}
#e img { width:1200px;
		height:300px;
		margin-top:5px;
}
.small { width:100px;
		height:30px;
		background:#000;
		opacity:0.5;
		position:absolute;
		top:450px;
		left:1100px;
}
.kuai { width:10px;
		height:10px;
		background:#069;
		float:left;
		margin-left:10px;
		margin-top:10px;
}
#f { width:1200px;
	height:40px;
	background:#DDD;
	margin:auto;
}
#fukuang { width:60px;
			height:216px;
			position:absolute;
			top:560px;
			left:1190px;
}
#fukuang img { width:60px;
				height:50px;
}
#fu { width:100px;
		height:40px;
		position:absolute;
		top:560px;
		left:1090px;
}
#fu img { width:100px;
			height:40px;
}
#g { width:1200px;
	height:1300px; 
	background:#F7F7F7;
	margin:auto;
}
#tt{ width:370px;
	height:30px;
	margin-left:120px;
	margin-top:10px;
	float:left;
}
#ttt { width:180px;
		height:30px;
		margin-left:20px;
		margin-top:10px;
		float:left;
}
#tttt { width:180px;
		height:30px;
		margin-left:190px;
		margin-top:-40px;
		float:left;
}
#txt1 { border:1px solid #999;
		margin-left:30px;
		margin-top:-30px;
		float:left;
		
}
#denglu { width:60px;
			height:20px;
			margin-left:400px;
			margin-top:-25px;
			float:left;
			background:#9C0;
}
.font01 { font-size:14px;
			color:#7C7C7C;
			line-height:20px;
			margin-top:10px;
			
}
.font02 { font-size:20px;
			color:#7C7C7C;
			font-style:"宋体";
			line-height:26px;
			letter-spacing:3px;
			float:left;
			width:200px;
			margin-top:50px;
}
.font03 { font-size:14px;
			color:#390;
			font-family:Verdana, Geneva, sans-serif;
			font-weight:bold;
			line-height:18px;
			text-align:center;
}
#zhuce { width:80px;
	height:25px;
	float:left;
	margin-left:480px;
	margin-top:-26px;
}
	
.font04 { font-size:14px;
			color:#753A00;
}
.font05 { font-size:12px;
			opacity:0.8;}
.font06 { font-size:12px;
			color:#FFF;
			font-weight:bold;
}
#a img { width:40px;
		height:30px;
		float:left;
}
#im { margin-left:235px;
		margin-top:-26px;	
}
#g { width:1200px;
	height:1300px;
	background:#F7F7F7;
	margin:auto;
}
#box { width:1000px;
	height:1050px;
	margin:auto;
}
#i { width:380px;
	height:90px;
	margin-left:260px;
	margin-top:30px;
}
#i img { width:380px;
		height:90px;
}
.j { width:760px;
	height:180px;
	margin:auto;
	margin-top:15px;
}
.j img { width:180px;
		height:180px;
}

.mainleft { width:400px;
	height:360px;
	background:#FFF;
	float:left;
}
.l { width:420px;
		height:370px;
		
}
.k { width:800px;
	height:30px;
	margin-top:10px;
}
.k img { width:100px;
		height:30px;
		margin-left:8px;
}
#kk { margin-left:130px;
	  width:100px;
		height:30px;	

}
#kkk { width:350px;
		height:330px;
		margin-left:30px;
		margin-top:15px;
}
#kkk img { width:220px; 
			height:160px;
			margin-top:10px;
			margin-left:10px;
}
#kkk ul {llist-style:none;
}
#kkk  ul li { margin-top:15px;}
.mainright { width:510px;
				height:360px;
				margin-left:30px;
				float:left;
}
.mainright ul{ width:510px;
				height:160px;
}
.mainright ul li { width:510px;
					margin-top:15px;
					margin-left:-10px;
					line-height:20px;
}
.tutu { width:510px;
		height:200px;
		margin-top:-30px;
		background:#FFF;
}
.tutu1 { width:510px;
		height:105px;
}
.tutu1 img { width:140px;
			height:80px;
			float:left;
}
.tutu1 ul { width:350px;
			height:100px;
			margin-left:140px;
}
.tutu1 ul li { margin-top:1px;}
.tutu2 { width:510px;
		height:105px;
}
.tutu2 img { width:140px;
			height:80px;
			float:left;
}
.tutu2 ul { width:350px;
			height:100px;
			margin-left:140px;
}
.tutu2 ul li { margin-top:1px;}
#m { width:380px;
	height:110px;
	margin-left:260px;
	margin-top:30px;
	clear:both;
}
#m img { width:380px;
		height:90px;
		padding-top:20px;
}
#photo { width:650px;
		height:200px;
		margin-left:140px;
		position:absolute;
		overflow:hidden;
}
#photo ul { list-style:none;
			position:absolute;
			width:650px;
			height:200px;
}


#photo img { 	width:125px;
				height:200px;
				
}
#photo ul li {float:left;}

#oo { width:1200px;
	height:40px;
	background:#6F6F00;
	margin:auto;
}
#oo ul { width:950px;
		height:40px;
		text-decoration:none;
		list-style:none;
		margin-left:50px;
}
#oo ul li { width:100px;
			float:left;
			display:block;
}

#oo li a:link { text-decoration:none;
				font-size:13px;
				line-height:40px;
				text-align:center;
				color:#FFF;
				display:block;
}
#oo li a:hover { font-size:16px;
					background:#BA7C14;
					color:#603000;
}
.p { width:1200px;
	height:200px;
	background:#a6b51c;
	margin:auto;
	margin-top:5px;
}
.q { margin-left:180px;
	margin-top:50px;
	width:200px;
	float:left;
	height:120px;
}
.qq { margin-left:130px;
		margin-top:45px;
		width:200px;
		float:left;
		height:130px;
}
.qqq { width:400px;
		height:100px;
		margin-top:50px;
		float:left;
		margin-left:20px;
}